@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

$dark: #0a1128;

$primaryDark: #0b3954;
$primaryLight: #d8e1ff;
$blue: #a9bcd0;

body {
  font-family: "Raleway", sans-serif;
  background-color: #ebf6fc;
  color: $dark;
}

input,
button {
  font-family: "Raleway", sans-serif;
}

.inputWrapper {
  .label {
    display: block;
  }
}

.mainScreen {
  .heading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .searchBarWrapper {
    text-align: center;
    margin-bottom: 20px;
  }

  .searchBar {
    display: inline-block;
    background-color: #dce4ec;
    padding: 4px;
    padding-left: 15px;
    border-radius: 20px;

    &:hover {
      // background-color: #e3b5a4;

      input {
        // background-color: #e3b5a4;
      }
    }

    input {
      border: none;
      font-weight: 600;
      letter-spacing: 0.6px;
      background-color: #dce4ec;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: $primaryDark;
      color: white;
      border: none;
      border-radius: 20px;
      padding: 8px 18px;
      font-weight: 600;
      letter-spacing: 0.6px;
    }
  }

  .results {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .card {
    background-color: white;
    margin: 0 20px 35px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    box-shadow: 3px 3px 7px rgba(#bbb, 0.4);

    .thumbnail {
      height: 150px;
      object-fit: contain;
      margin-right: 15px;
    }

    .title {
      font-size: 18px;
      font-weight: 700;
      margin: 0 0 15px;
    }

    .info {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 5px;
      color: rgba($dark, 0.8);
    }

    .authors {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      color: rgba($dark, 0.8);
    }

    .description {
      font-size: 14px;
      max-height: 50px;
      overflow: hidden;
      margin: 15px 0 0;
      color: rgba($dark, 0.8);
    }
  }
}
