.inputWrapper {
  .label {
    display: block;
  }
}

.mainScreen {
  min-height: 100vh;
  position: relative;
  padding-top: 30px;

  .heading {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
  }

  .searchBarWrapper {
    text-align: center;
    margin-bottom: 20px;
  }

  .searchBar {
    .mainInput {
      font-size: 15px;
      border: 1px solid rgba(#0d3b66, 0.3);
      font-weight: 400;
      background-color: white;
      padding: 5px 10px;
      height: 32px;
      border-radius: 4px;
      width: 300px;

      &:focus {
        outline: none;
      }
    }

    .searchButton {
      background-color: $primary;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 4px;
      padding: 8px 18px;
      font-weight: 600;
      margin-left: 10px;
      transition: all 0.4s ease-out;

      &:hover {
        background-color: $primary-hover;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .results {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    @media (max-width: 576px) {
      display: block;
    }
  }
}
