@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

$dark: #0a1128;

$primaryDark: #0b3954;
$primaryLight: #d8e1ff;
$blue: #a9bcd0;

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #fdfeff;
  color: black;
}

input,
button {
  font-family: "Source Sans Pro", sans-serif;
}

.inputWrapper {
  .label {
    display: block;
  }
}

.mainScreen {
  margin-bottom: 30px;

  .heading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
  }

  .searchBarWrapper {
    text-align: center;
    margin-bottom: 20px;
  }

  .searchBar {
    input {
      font-size: 15px;
      border: 1px solid rgba(#0d3b66, 0.3);
      font-weight: 600;
      letter-spacing: 0.6px;
      background-color: white;
      padding: 5px 10px;
      height: 32px;
      border-radius: 5px;

      &:focus {
        outline: none;
      }
    }

    button {
      background-color: #4d8f10;
      cursor: pointer;
      color: white;
      border: none;
      border-radius: 5px;
      padding: 8px 18px;
      font-weight: 600;
      letter-spacing: 0.6px;
      margin-left: 10px;
      transition: all 0.4s ease-out;

      &:hover {
        background-color: #1d5a23;
      }

      &:focus {
        outline: none;
      }
    }
  }

  .results {
    display: grid;
    grid-template-columns: repeat(2, 50%);

    @media (max-width: 576px) {
      display: block;
    }
  }

  .card {
    background-color: rgba(#bbc8ce, 0.4);
    margin: 0 20px 35px;
    padding: 20px;
    border-radius: 10px;
    display: flex;

    @media (max-width: 1024px) {
      margin: 0 14px 28px;
    }

    @media (max-width: 767px) {
      margin: 0 0 20px;
    }

    .thumbnail {
      height: 150px;
      object-fit: contain;
      margin-right: 15px;

      @media (max-width: 1024px) {
        height: 130px;
      }

      @media (max-width: 767px) {
        height: 120px;
      }
    }

    .title {
      font-size: 20px;
      font-weight: 700;
      margin: 0 0 15px;

      @media (max-width: 1024px) {
        font-size: 18px;
      }
    }

    .info {
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 5px;
      color: rgba(black, 0.8);
    }

    .authors {
      font-size: 14px;
      font-weight: 500;
      margin: 0;
      color: rgba(black, 0.8);
    }

    .description {
      font-size: 14px;
      max-height: 54px;
      overflow: hidden;
      margin: 15px 0 0;
      color: rgba(black, 0.8);
    }
  }
}
