@import "../../Styles/colors.scss";

.card {
  display: flex;
  margin: 0 20px 35px;
  padding: 20px;

  @media (max-width: 1024px) {
    margin: 0 14px 28px;
    padding: 20px 0px;
  }

  @media (max-width: 767px) {
    margin: 0 0 20px;
  }

  .thumbnail {
    height: 150px;
    object-fit: contain;
    margin-right: 15px;

    @media (max-width: 1024px) {
      height: 130px;
    }

    @media (max-width: 767px) {
      height: 120px;
    }
  }

  .title {
    display: inline-block;
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 4px;
    color: $shade-100;
    text-decoration: none;

    &:hover {
      color: $primary;
    }

    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }

  .info {
    font-size: 14px;
    font-weight: 600;
    margin: 0 0 12px;
    color: $shade-200;
  }

  .pages,
  .publisher,
  .categories {
    font-size: 14px;
    color: $shade-200;
    margin: 0px 0px 2px;
  }

  .previewLink {
    color: $primary;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;

    .previewButton {
      display: inline-flex;
      height: 32px;
      border: 1px solid $primary;
      justify-content: center;
      align-items: center;
      padding: 0 12px;
      text-decoration: none;
      border-radius: 0px;
      margin-top: 12px;
    }
  }

  .description {
    font-size: 14px;
    max-height: 54px;
    overflow: hidden;
    margin: 15px 0 0;
    color: $shade-500;
  }
}
