@import "../../Styles/colors.scss";

.dropdown {
  position: relative;

  &:not(:last-child) {
    margin-right: 24px;
  }

  @media (max-width: 768px) {
    text-align: left;

    &:not(:last-child) {
      margin-right: 0px;
    }
  }

  .dropdownButton {
    height: 36px;
    padding: 0 16px;
    background-color: transparent;
    color: $shade-100;
    border: 0;
    border-radius: 4px;
    text-align: left;
    display: inline-flex;
    align-items: center;

    &:hover {
      ~ .dropdownWrapper {
        display: block;
      }
    }

    .name {
      font-weight: 600;
      margin-left: 4px;
    }

    .caret {
      height: 10px;
      object-fit: contain;
      margin-left: 8px;
      opacity: 0.8;
      margin-bottom: -2px;
    }
  }

  .dropdownWrapper {
    display: none;
    position: absolute;
    z-index: 1;
    top: 36px;
    background-color: white;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 4px;
    box-shadow: 0 1px 1px 1px $shade-800;
    min-width: 90px;

    &:hover {
      display: block;
    }

    .item {
      background-color: transparent;
      border-radius: 0;
      border: 0;
      min-width: 100%;
      flex-grow: 1;
      height: 32px;
      padding: 0 12px;
      text-align: left;

      &.itemSelected {
        background-color: $primary-light;
      }

      &:hover {
        background-color: $shade-900;
      }

      &:focus {
        outline: none;
      }

      &:first-child {
        border-radius: 4px 4px 0 0;
      }

      &:last-child {
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
